<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM-dd-yyyy HH:mm:ss.SSS}] %-5p [%t] %c at line %L - %m%n"/>
        </layout>
    </appender>

    <appender name="errorFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="d:/Workspace/NWT/Kino-TimXY/logs/error.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM-dd-yyyy HH:mm:ss.SSS}] %-5p [%t] %c at line %L - %m%n" />
        </layout>
    </appender>

    <appender name="debugFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="d:/Workspace/NWT/Kino-TimXY/logs/debug.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{MM-dd-yyyy HH:mm:ss.SSS}] %-5p [%t] %c at line %L - %m%n" />
        </layout>
    </appender>

    <logger name="kino">
        <level value="error" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="errorFileAppender" />
    </logger>
    <root>
        <priority value="trace" />
        <appender-ref ref="debugFileAppender" />
    </root>
</log4j:configuration>

<!-- -->
